In [1]:
import pandas as pd
import csv

In [2]:
file_path1 = "Resources/schools_complete.csv"
file_path2 = "Resources/students_complete.csv"

schools_df = pd.read_csv(file_path1)
students_df = pd.read_csv(file_path2)

#schools_df.head()
#students_df.head()

In [3]:
schools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [4]:
students_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [5]:
Total_Schools = len(schools_df)
Total_Students = len(students_df)
Total_Budget = schools_df["budget"].sum()
Average_Math_Score = students_df["math_score"].mean()
Average_Reading_Score = students_df["reading_score"].mean()
Percent_Passing_Math = students_df["math_score"][students_df["math_score"] >= 65].count() / Total_Students
Percent_Passing_Reading = students_df["reading_score"][students_df["reading_score"] >= 65].count() / Total_Students
Overall_Passing_Rate = (Percent_Passing_Math + Percent_Passing_Reading) / 2

In [6]:
District_Summary_df = pd.DataFrame({"Total Schools": [Total_Schools],
                                   "Total Students": [Total_Students],
                                   "Total Budget": [Total_Budget],
                                   "Average Math Score": [Average_Math_Score],
                                   "Average Reading Score": [Average_Reading_Score],
                                   "% Passing Math": [Percent_Passing_Math],
                                   "% Passing Reading": [Percent_Passing_Reading],
                                   "Overall Passing Rate": [Overall_Passing_Rate]})
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.847281,0.961986,0.904634

In [7]:
schools2_df = schools_df.copy()

del schools2_df["School ID"]

schools2_df.rename(columns={'school_name':'School Name', 'type': 'School Type', 'size': 'Total Students',
                                  'budget': 'Total School Budget'}, inplace=True)

schools2_df["Per Student Budget"] = schools2_df["Total School Budget"] / schools2_df["Total Students"]


students2_df = students_df.copy()

students2_df.rename(columns={'school_name': 'School Name'}, inplace=True)

students2_df = students2_df.groupby(["School Name"]).mean()

del students2_df["Student ID"]

students2_df.rename(columns={'math_score': 'Average Math Score',
                             'reading_score': 'Average Reading Score'}, inplace=True)


School_Summary_df = pd.merge(schools2_df, students2_df, on="School Name")

In [11]:
students3_df = students_df.copy()
students3_df.rename(columns={"school_name": "School Name"}, inplace=True)


Passing_Math = students3_df["School Name"][students3_df["math_score"] >= 65].value_counts().rename_axis("School Name").reset_index(name = "passingMath")


School_Summary_df = pd.merge(School_Summary_df, Passing_Math, on="School Name")

School_Summary_df["% Passing Math"] = School_Summary_df["passingMath"] / School_Summary_df["Total Students"]

del School_Summary_df["passingMath"]


Passing_Reading = students3_df["School Name"][students3_df["reading_score"] >= 65].value_counts().rename_axis("School Name").reset_index(name = "passingReading")

School_Summary_df = pd.merge(School_Summary_df, Passing_Reading, on = "School Name")

School_Summary_df["% Passing Reading"] = School_Summary_df["passingReading"] / School_Summary_df["Total Students"]

del School_Summary_df["passingReading"]



School_Summary_df["Overall Passing Rate"] = (School_Summary_df["% Passing Math"] + School_Summary_df["% Passing Reading"]) / 2

School_Summary_df = School_Summary_df.reindex(columns= ["School Name", "School Type", "Total Students",
                                                        "Total School Budget", "Per Student Budget", "Average Math Score",
                                                        "Average Reading Score", "% Passing Math", "% Passing Reading",
                                                        "Overall Passing Rate"])

School_Summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.777168,0.944806,0.860987
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.771787,0.945405,0.858596
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1.000000,1.000000,1.000000
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.777346,0.946063,0.861704
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.000000,1.000000,1.000000
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,1.000000,1.000000,1.000000
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.000000,1.000000,1.000000
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.779140,0.945539,0.862339
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,1.000000,1.000000,1.000000
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,1.000000,1.000000,1.000000
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1.000000,1.000000,1.000000
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.779445,0.946237,0.862841
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.779668,0.944760,0.862214
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.782037,0.938664,0.860350
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1.000000,1.000000,1.000000

In [12]:
Top_Performing_Schools_df = School_Summary_df.sort_values("Overall Passing Rate", ascending=False)
Top_Performing_Schools_df.iloc[0:5,:]

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1.0,1.0,1.0
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.0,1.0,1.0
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,1.0,1.0,1.0
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.0,1.0,1.0
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,1.0,1.0,1.0